:root {
    --title-text-colour: #eaeaea;
    --text-colour: #ddd;
    --background-colour: #1f1f1f;
    --theme-red: #dd3758;
    --theme-blue: #43a5cc;
    --theme-purple: #a04bbc;
    --theme-yellow: #f2b529;
    --link-colour: #4c91ff;
    --card-colour: #ddd;
    --side-colour: #555;
}

html {
    margin-left: calc(100vw - 100%);
    min-height: 100vh;
}

::-webkit-scrollbar {
    width: 14px;
}

::-webkit-scrollbar-track {}

::-webkit-scrollbar-thumb {
    background: var(--side-colour);
    border: 3px solid var(--background-colour);
}

textarea::-webkit-scrollbar {
    width: 10px;
}

textarea::-webkit-scrollbar-thumb {
    background: var(--side-colour);
    border: 2px solid white;
}

x {
    color: var(--title-text-colour);
    padding: 0 5px;
    margin: 0px;
    background: linear-gradient(90deg, var(--theme-red), var(--theme-yellow), var(--theme-purple), var(--theme-blue), var(--theme-red));
    background-size: 1000% 100%;
    background-position: 0% 0%;
    -webkit-animation: GradientLoop 15s linear infinite;
    -moz-animation: GradientLoop 15s linear infinite;
    animation: GradientLoop 15s linear infinite;
}

h1 {
    margin: 0 0 60px 0;

    font-family: 'Questrial', sans-serif;
    font-size: 2.8em;
    color: var(--title-text-colour);
}

h1 y {
    font-family: 'Questrial', sans-serif;
    color: var(--title-text-colour);
    font-size: .5em;
}

p {
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    color: var(--text-colour);
}

a {
    transition: all 0.4s ease;
    color: var(--text-colour);
    text-decoration: none;
    border-bottom: 1px dotted var(--text-colour);
}

a:hover {
    color: var(--link-colour);
}

body {
    padding: 0;
    margin: 0;
    background-color: var(--background-colour);
    min-height: 100vh;
    position: relative;
}

#page-manager {
    position: relative;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 40px;

    transition-timing-function: ease;
    transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
}

#title {
    width: 860px;
}

#container {
    width: 100%;
    min-height: 100%;
    padding: 50px 0;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

#main-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
    overflow: hidden;
    /*
    background-color: #262626;
    padding: 50px;
    experimental stuff 
    */
}

#contact-content {
}

#contact-content form #contact-input {
    display: flex;
    justify-content: space-between;
}

#contact-content form #name-area {
    display: flex;
    flex-direction: column;
}

#contact-content form textarea {
    width: 500px;
    resize: none;
    font-family: 'Roboto', sans-serif;
}

#contact-content form input {
    font-size: 18px;
    padding: 10px 0px 10px 0px;
    display: block;
    width: 300px;
    border: none;
    border-bottom: 1px solid #757575;
    background-color: var(--background-colour) border-bottom: 1px solid #757575;
    color: var(--text-colour)
}

#contact-content form input:focus {
    outline: none;
}

.group {
    position: relative;
    margin-bottom: 45px;
}

#contact-content form #submit-button {
    border: 1px solid #757575;
    transition: all 0.3s ease;
}

#contact-content form #submit-button:hover {
    color: var(--theme-blue);
    border-color: var(--theme-blue);
}

label {
    color: #999;
    font-size: 18px;
    font-weight: normal;
    font-family: 'Roboto', sans-serif;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

input:focus~label,
input:valid~label {
    top: -20px;
    font-size: 14px;
    color: var(--theme-blue);
}

.bar {
    position: relative;
    display: block;
    width: 300px;
}

.bar:before,
.bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: var(--theme-blue);
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.bar:before {
    left: 50%;
}

.bar:after {
    right: 50%;
}

input:focus~.bar:before,
input:focus~.bar:after {
    width: 50%;
}

.highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}

input:focus~.highlight {
    -webkit-animation: inputHighlighter 0.3s ease;
    -moz-animation: inputHighlighter 0.3s ease;
    animation: inputHighlighter 0.3s ease;
}

@-webkit-keyframes inputHighlighter {
    from {
        background: #5264AE;
    }
    to {
        width: 0;
        background: transparent;
    }
}

@-moz-keyframes inputHighlighter {
    from {
        background: #5264AE;
    }
    to {
        width: 0;
        background: transparent;
    }
}

@keyframes inputHighlighter {
    from {
        background: #5264AE;
    }
    to {
        width: 0;
        background: transparent;
    }
}

.tab {
    width: 860px;
}

.hidden {
    height: 0;
    visibility: hidden;
    -webkit-animation: hideContent .75s linear;
    -moz-animation: hideContent .75s linear;
    animation: hideContent .75s linear;

}

.start-hidden{
    height: 0;
    visibility: hidden;
}

@keyframes hideContent {
    0% {
        height: auto;
        visibility: visible;
    }
    35% {
        height: auto;
        visibility: visible;
    }
    36% {
        visibility: hidden ;
        height: 0;
    }
}

@-webkit-keyframes hideContent{
    0% {
        height: auto;
        visibility: visible;
    }
    35% {
        height: auto;
        visibility: visible;
    }
    36% {
        visibility: hidden ;
        height: 0;
    }
}

@-moz-keyframes hideContent{
    0% {
        height: auto;
        visibility: visible;
    }
    35% {
        height: auto;
        visibility: visible;
    }
    36% {
        visibility: hidden ;
        height: 0;
    }
}

#project-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 860px;
}

.project-card {
    color: #777;
    font-family: "Roboto", sans-serif;
    width: 350px;
    height: 400px;
    background: var(--title-text-colour);
    margin-bottom: 50px;
}

.image-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%); 
    background-color: rgba(0, 0, 0, 0.2) ;

}

.project-image {
    position: relative;
    height: 200px;
    width: 100%;
}

#resume-content{
    overflow: hidden;
}

#resume-image{
    background-color: white;
    width:45%;
}
#resume-link{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    text-decoration: none;
    border-bottom: none;
}

#resume-link :hover{
    height: 100px;
}

.image-title {
    position: absolute;
    bottom:0px;
    margin: 15px;
    color: white;
    font-size: 1.1em;
    font-weight: 600;
}

.project-description {
    padding: 15px;
    word-wrap: break-word;
    border-bottom: 1px solid #ccc;
}

.progress-bar-container {
    display: flex;
    padding: 17px 15px;
    border-bottom: 1px solid #ccc;
    justify-content: space-between;
    align-items: center;
}

.image-cover {
    object-fit: cover;
    opacity: .3;
    z-index: 10;
}

.progress-bar {
    width: 225px;
    background: #ccc;
    height: 12px;
}

.bar-fill {
    height: 100%;
    background: var(--theme-yellow);
}

.project-skills {
    display: flex;
    padding: 15px 0px;
}

.skill{
    height: 45px;
    width: 45px;
    margin-left: 15px;
}


.animate {
    -webkit-animation: showContent .75s linear forwards;
    -moz-animation: showContent .75s linear forwards;
    animation: showContent .75s linear forwards;
}

@-webkit-keyframes showContent {
    0% {
        height: 0;
        visibility: hidden;
    }
    35% {
        height: 0;
        visibility: hidden;
    }
    36% {
        visibility: visible;
        height: auto;
    }
}

@-moz-keyframes showContent {
    0% {
        height: 0;
        visibility: hidden;
    }
    35% {
        height: 0;
        visibility: hidden;
    }
    36% {
        visibility: visible;
        height: auto;
    }
}

@keyframes showContent {
    0% {
        height: 0;
        visibility: hidden;
    }
    35% {
        height: 0;
        visibility: hidden;
    }
    36% {
        visibility: visible;
        height: auto;
    }
}

.footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
}

#footer-content {
    width: 860px;
}

heading {
    width: 230px;
    float: left;
}

content {
    width: 500px;
    float: right;
}

skill-box {
    margin-top: 50px;
    width: 860px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#menu-cards {
    display: flex;
    justify-content: space-between;
    max-width: 860px;
    width: 100%;
    position: relative;
}

#fake {
    height: 600px
}

.card {
    transition: all 0.3s ease;
    color: var(--text-colour);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 7px;
    border: 1px solid var(--card-colour);
    color: var(--card-colour);
    cursor: pointer;
}

input[type="radio"] {
    display: none;
    opacity: 0;
    width: 0;
    height: 0;
}

input[type="radio"]:checked~label {
    color: white;
    border-color: white;
}

h3 {
    margin: 0;
    font-family: 'Questrial', sans-serif;
    font-size: 1.35em;
    font-weight: lighter;
}

.active {
    color: white;
}

.slide-red {
    background: var(--theme-red);
}

.slide-blue {
    background: var(--theme-blue);
}

.slide-purple {
    background: var(--theme-purple);
}

.slide-yellow {
    background: var(--theme-yellow);
}

#red:hover {
    background-color: var(--theme-red);
    border-color: var(--theme-red);
}

#blue:hover {
    background-color: var(--theme-blue);
    border-color: var(--theme-blue);
    color: white;
}

#purple:hover {
    background-color: var(--theme-purple);
    border-color: var(--theme-purple);
}

#yellow:hover {
    background-color: var(--theme-yellow);
    border-color: var(--theme-yellow);
    color: white;
}

.trapazoid {
    position: absolute;
    max-width: 860px;
    width: 100%;
    height: 100px;
    top: -100px;
    background: var(--theme-red);
}

#slide-animation {
    top: 0px;
    transform: translateY(100%);
    position: absolute;
    width: 100%;
    height: 100%;
    will-change: transform;
}

.slide-animation-play {
    animation: SlideDown .75s forwards;
    -webkit-animation: SlideDown .75s forwards; /* Safari 4+ */
    -moz-animation: SlideDown .75s forwards; /* Fx 5+ */
    -o-animation: SlideDown .75s forwards;
}

@-webkit-keyframes SlideDown {
    0% {
        transform: translateY(-100%);
    }
    15% {
        transform: translateY(-100%);
        animation-timing-function: ease-out
    }
    35% {
        transform: translateY(0%);
        animation-timing-function: ease-in;
    }
    65% {
        transform: translateY(0%);
        animation-timing-function: ease-out;
    }
    70% {
        transform: translateY(65%);
        animation-timing-function: ease-out;
    }
    100% {
        transform: translateY(100%);
    }
}

@-moz-keyframes SlideDown {
    0% {
        transform: translateY(-100%);
    }
    15% {
        transform: translateY(-100%);
        animation-timing-function: ease-out
    }
    35% {
        transform: translateY(0%);
        animation-timing-function: ease-in;
    }
    65% {
        transform: translateY(0%);
        animation-timing-function: ease-out;
    }
    70% {
        transform: translateY(65%);
        animation-timing-function: ease-out;
    }
    100% {
        transform: translateY(100%);
    }
}

@-o-keyframes SlideDown {
    0% {
        transform: translateY(-100%);
    }
    15% {
        transform: translateY(-100%);
        animation-timing-function: ease-out
    }
    35% {
        transform: translateY(0%);
        animation-timing-function: ease-in;
    }
    65% {
        transform: translateY(0%);
        animation-timing-function: ease-out;
    }
    70% {
        transform: translateY(65%);
        animation-timing-function: ease-out;
    }
    100% {
        transform: translateY(100%);
    }
}

@keyframes SlideDown {
    0% {
        transform: translateY(-100%);
    }
    15% {
        transform: translateY(-100%);
        animation-timing-function: ease-out
    }
    35% {
        transform: translateY(0%);
        animation-timing-function: ease-in;
    }
    65% {
        transform: translateY(0%);
        animation-timing-function: ease-out;
    }
    70% {
        transform: translateY(65%);
        animation-timing-function: ease-out;
    }
    100% {
        transform: translateY(100%);
    }
}

.separator {
    width: 5px;
    background: linear-gradient(45deg, var(--theme-red), var(--theme-blue), var(--theme-purple), var(--theme-yellow), var(--theme-red));
    background-size: 100% 1000%;
    background-position: 0% 0%;
    -webkit-animation: GradientLoop 15s linear infinite;
    -moz-animation: GradientLoop 15s linear infinite;
    animation: GradientLoop 15s linear infinite;
}

@-webkit-keyframes GradientLoop {
    0% {
        background-position: 0% 0%
    }
    100% {
        background-position: 110% 110%
    }
}

@-moz-keyframes GradientLoop {
    0% {
        background-position: 0% 0%
    }
    100% {
        background-position: 110% 110%
    }
}

@keyframes GradientLoop {
    0% {
        background-position: 0% 0%
    }
    100% {
        background-position: 110% 110%
    }
}

@media screen and (max-width: 1000px) {
    #main-content {
        flex-direction: column;
        width: 100%;
    }
    #title {
        width: 100%;
    }
    content {
        width: 100%;
    }
    .footer {
        width: 100%;
    }
    #footer-content {
        margin: 0 50px;
        width: auto;
    }
    .separator {
        width: 100%;
        height: 3px;
        background: linear-gradient(90deg, var(--theme-red), var(--theme-yellow), var(--theme-purple), var(--theme-blue), var(--theme-red));
        background-size: 1000% 100%;
        background-position: 0% 0%;
        -webkit-animation: GradientLoop 15s linear infinite;
        -moz-animation: GradientLoop 15s linear infinite;
        animation: GradientLoop 15s linear infinite;
    }
}
